body{
    background-color:aquamarine;
    font-family: 'Arial';
    font-size: 12px;
}
p{
    font-family:'Trebuchet MS';
    font-size: 10px;
}
h1{
    background-color:azure;
    font-family: 'Times New Roman';
    font-size: 32px;
}

h2{
    background-color:blueviolet;
    font-family:'Courier New';
    font-size: 25px;
}

h3{
    background-color:chartreuse;
    font-family:'Gill Sans';
    font-size: 18px;
}

a:hover{
    background-color:aqua;
    display: block;
}

a:active{
    background-color:orange;
    display: block;
}

table{
    width: 350px;
    border-spacing: 1px;
}

table, td{
    border:1px solid #000;
    color:#000;
}
